@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor1: background: #253237;
  --cor2: background: #949494;
  --cor3: background: #C4C4C4;
  --cor4: background: #F1F1F1;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}


header {
  display: flex;
  justify-content: space-between;
  padding: 12px 120px;
  align-items: center;
  background: #F1F1F1;
}

.logo {
  width: 160px;
  height: 66.341px;
}

.link {

  text-decoration: none;
  color: black;
  margin: 32px;
}

/* main */

main{
  max-width: 1188px;
  margin: auto;
  padding: 12px;
}

.titulo{
  margin-top: 36px;
  color: #333;
  font-family: "Josefin Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.paragrafo{
  color: rgba(51, 51, 51, 0.70);
  text-align: justify;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.bloco-de-fotos1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bloco-de-fotos2{
  margin: 36px 0;
}

.bloco-de-fotos2 img{
  margin-bottom: 16px;
  width: 100%;
}








/* footer */

footer {
  height: 500px;
  background: #253237;
  box-shadow: 0px -5px 5px 0px rgba(37, 50, 55, 0.15);
  margin-top: 154px;
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  gap: 32px;
}

.section1-footer {
  display: flex;
  flex-direction: column;
}

.p-footer {
  color: #9DB4C0;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 53px 0 14px 0;
}

.div-section1-icone-texto {
  margin-bottom: 24px;
  display: flex;
  gap: 20px;
}

.icone {
  width: 24px;
  height: 24px;
}

.paragrafos-icones {
  color: #FBFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icone2 {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.section2-footer {
  margin-right: 200px;
}
#div-logo-fslab-ifro{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  gap: 80px;
  margin-bottom: 48px;
}