* {
    padding: 0;
    margin: 0;
}

.paginacao {
    padding: 8px;
}

.paginacao a {
    border: 1px solid royalblue;
    background-color: royalblue;
    color: white;
    text-decoration: none;
    padding: 8px;
}

.paginacao a:hover {
    background-color: white;
    color: royalblue;
}

.tabela table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.tabela th {
    background-color: rgb(89, 121, 216);
    color: white;
}

.tabela th, .tabela td {
    border: 1px solid black;
    padding: 4px;
}

.tabela  tr:hover {
    background-color: rgb(254, 254, 167);
}

.tabela{
    padding: 8px;
}



.botao-lixeira{
    background-color: transparent;
    border: none;
    margin-right: 8px;
    cursor: pointer;
}
.botao-lixeira:hover{
   transform: scale(1.2);
   transition: 0.2s;
   
}
.td-lixeira{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form{

    margin: 16px;
    border: 1px solid;
    padding: 16px 4px;
    display: flex;
    width: 300px;

    flex-direction: column;
    gap: 4px;
}
#id-botao-adicionar{
    margin-top: 8px;
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 4px;
    width: 100px;
    cursor: pointer;
}

#id-botao-adicionar:hover{
    transform: scale(1.2);
    transition: 0.2s;
}